.custom-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
}

.custom-slider::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.custom-slider::-ms-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.custom-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
}

.custom-slider::-moz-range-progress {
  background: white;
  height: 10px;
  border-radius: 5px;
}

.custom-slider::-ms-fill-lower {
  background: white;
  height: 10px;
}